/* All css styling on my project is controlled here*/

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

body {
    background-image: url(../img/spikes.jpg);
    margin: 0px;
    min-height: 100vh; /* Fire ting som må gjøres for å få footer på bunn alltid*/
    display: flex; /* Fire ting som må gjøres for å få footer på bunn alltid*/
    flex-direction: column; /* Fire ting som må gjøres for å få footer på bunn alltid*/

}

header {
    text-align: center;
    padding: 25px;
    background-color: #cbaacb;


}

div {

}

.container {
    margin: 20px;

}

section {
    color: #ad80ad;
    margin: 20px;
}
footer {
    background-color: #cbaacb;
    padding: 30px 10px;
    margin-top: auto; /* Fire ting som må gjøres for å få footer på bunn alltid*/
    line-height: 1.5;
    
    
}

.imgRight {
    float: right;
    width: 40%; /* Sikrer en bredde på 40 av skjermen*/
    max-width: 500px;
    height: auto; /* sikrer at bildets bredde altid blir proposjonalt med høyde?*/
    margin-left: 20px;
    margin-bottom: 30px;
}


.listRecipes {

}

.list-ingredients-steps {
    clear: both;
}

